<!DOCTYPE html>
<html>

<body> 




  <%= link_to 'index', welcome_index_path %>
  <%= link_to 'celldb', celldbs_path %>

 <script type="text/javascript">
  $(document).load(function(){
    testea();
  });
</script>


</body>
</html>